*{
	font-family: 'Oswald', sans-serif;
}
html {
  scroll-behavior: smooth;
	overflow: scroll;
}

.wrapper-main{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	left: 0;
	top:0;
	background-color:white;
}

.wrapper-main-second{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	left: 0;
	top:100%;
	background-color:white;
}

.wrapper-main-third{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	left: 0;
	top:0;
	background-color:white;
}


.wrapper-main-fourth{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	left: 0;
	top:0;
	background-color:white;
}

.wrapper-main-fifth{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	left: 0;
	top:0;
	background-color:white;
}

.center h2 {
	color: #fff;
	font-size: 8em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.center h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #B31B1B;
}

.center h2:nth-child(2) {
	color: #B31B1B;
	animation: animate 4s ease-in-out infinite;
}
#grad-year{
	color:#B31B1B;
}
@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.center{
	margin: 0;
	position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-top{
	margin: 0;
	position: absolute;
	top: 40%;
	color: white;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-btm{
	margin: 0;
	position: absolute;
	top: 64%;
	left: 50%;
	color: white;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-btm-logo{
	margin: 0;
	position: absolute;
	top: 75%;
	left: 50%;
	color: white;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: flex;
}
.clg-logo{
	height: 50px;
	width: 50px;
}
.arrow-down{
	margin: 0;
	position: absolute;
	bottom: 10%;
	left: 50%;
	color: #B31B1B;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.fa-arrow-down:hover{
	cursor: pointer;
	transform: scale(1.2);
	transition: 0.5s;
}

.fa-arrow-down{
	transition: 0.5s;
}

.sub-head{
	font-size: 35px;
	color: #B31B1B!important;
}

#arrow{
	color:#B31B1B;
}

.navbar{
	background: transparent!important;
}
.navbar-brand{
	margin-left: 30px;
	color: white;
	font-size: 40px;
}

.nav-link{
	font-size: 20px;
}

.content-wrapper{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.head-anim{
	color: #B31B1B;
}
.arrow{
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#progress-arrow{
	color: #B31B1Br;
	transition: 0.5s;
	margin-top: 10px;
	padding-right:10px;
}

#progress-arrow:hover{
	cursor: pointer;
	transition: 0.5s;
	color:black;
}

.content-wrapper-third{
	padding-left:30px;
	color: #B31B1B;
}
 .dialogue{
	margin-top: 15px;
}



#ok-click{
	margin-left: -1000px;
	background: none;
	border:none;
	margin-top: 30px;
}
#ok-arrow{
	color:#B31B1B;
}

i{
	color:#124116!important:
}
.navbar-toggler{
	margin-right: 10px;
}
.content-wrapper-third{
	padding: 20px;
}
.bg-overlay{
	position: absolute;
	left: 12.5%;
	margin: 0 auto;
	bottom: 0;
	display: block;
  width: 75%;
	z-index: -1;
}
blockquote {
	font-size: 2rem;
	max-width: 600px;
	line-height: 1.4;
	position: relative;
	margin: 0 auto;
	padding: .5rem;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	width: 4rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}


.heading-third-first{
	margin-top: 30px;
}
.content-txt{
	margin-top: 30px;
	font-family: 'Nunito', sans-serif!important;
	font-size: 1.25rem;
}
@media only screen and (min-width: 600px) {
	#wrapper-main-third{
		text-align: center;
	}
  .content-txt{
		margin-top:30px;
		text-align: center;
	}
	.bg-overlay{
		width: 100%;
		left: 0;
		max-height: 800px;
	}

}
@media only screen and (max-width: 600px) {
  .bg-overlay {
    width: 100%;
		display: block;
		left: 0!important;
  }
	.center h2{
		font-size: 7em;
	}
	.skill-bars{
		display: none;
	}
	.head-skills{
		display: none;
	}
	.sub-head{
		font-size: 22px!important;
	}
	.nav-link{
		margin-left: 20px;
	}

	.wrapper-main-fourth{
		height: auto;
		overflow-y: auto;
	}
}
.heading-fourth{
	color: white;
	margin-left: 30px;
}
.card-group{
	flex-direction:row;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 30px;
	width: 75%;
}

.card-title{
	color: black!important;
}
.card-text{
	font-family: 'Nunito', sans-serif!important;
}
.list-group-flush{
	font-family: 'Nunito', sans-serif!important;
}
.card-link{
	color:#B31B1B!important;
	text-decoration: none;
}
.card-img-top{
	width: 40px;
	height: 40px;
	margin-left: 20px;
	margin-top: 20px;
}
.card-link:hover{
	text-decoration: none;
	color: black!important;
}
::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
	margin: 0 auto;

	margin-top: 30px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate_second 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate_second {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #B31B1B;
  animation: animate_second 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}
.bar .info span{
	color:black;
}
.bar .progress-line.html span{
  width: 90%;
}
.bar .progress-line.css span{
  width: 50%;
}
.bar .progress-line.jquery span{
  width: 85%;
}
.bar .progress-line.python span{
  width: 70%;
}
.bar .progress-line.mysql span{
  width: 75%;
}
.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: anim 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.html span::after{
  content: "90%";
}
.progress-line.css span::after{
  content: "60%";
}
.progress-line.jquery span::after{
  content: "85%";
}
.progress-line.python span::after{
  content: "50%";
}
.progress-line.mysql span::after{
  content: "75%";
}
.head-skills{
	text-align: center;
}
.active{
	color:white!important;
}
.exp_logo{
	width: 80px;
	height:60px;
}


.flex-center {
  width: 100%;
	position: relative;
	top: 25%;
	transform: translateY(-25.0%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
}
.icon-3d:hover {
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 200ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}

footer{
	position: absolute;
	bottom: 0;
	height: 50px;
	background-color: white;
	width: 100%;
	text-align: center;
}

.footer-text{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.icon-3d{
	color:#B31B1B;
}
